* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
}


#app {
    height: 100%;
}
:root {
    --black: #2b2929;
	--dark: #464646;
    --gray-dark: #716969;
    --textWhite: #ffffff;
    --yellow-dark: #f1bf5d;
    --hit-seasons: #f15d5d;
    --top-price: #5d7ef1;
}

.REDIWoJ0 {
    max-width: 415px;
    margin-bottom: 80px;
}

.vvMHn8OV {
    background-color: #F6F6F6;
    border-radius: 12px;
}



.g7TIh1rR {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
}

.m0oTixMN {
    overflow: hidden;
}

.sEZs6cek {
    border-radius: 8px;
    padding: 4px 12px;
    background: #5ed270;
    color: white;
    text-align: center;
}

.Kagruzjn {
    border-radius: 8px;
    padding: 4px 12px;
    background: var(--hit-seasons);
    color: white;
    text-align: center;
}

.i1LtyOyf {
    border-radius: 8px;
    padding: 4px 12px;
    background: var(--top-price);
    color: white;
    text-align: center;
}

.r3tmqVtJ {
    img {
    max-width: 100%;
    max-height: 100%;
    }
}

.UsySEiRL {
    padding-left: 16px;
    display: flex;
    align-items: center;
}

.sdkj67ao {
    font-size: 20px;
    color: var(--black);
    line-height: 110%;
    letter-spacing: 0.01em;
    margin-top: 20px;
}

.VKhLRVvu {
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.mkeaUURw {
    font-size: 20px;
    line-height: 150%;
    color: var(--dark);
}

.E4pK9u1J {
    font-size: 18px;
    line-height: 150%;
    text-decoration: line-through;
    color: var(--gray-dark);
    margin-left: 12px;
    margin-right: 12px;
}

.aD08gVu5 {
    border-radius: 8px;
    padding: 4px 8px;
    width: 52px;
    height: 28px;
    background: var(--yellow-dark);
    font-size: 14px;
    line-height: 140%;
    color: var(--textWhite);
    text-align: center;
}

@media screen and (max-width: 391px) {
    .Kagruzjn,
    .sEZs6cek,
    .i1LtyOyf
    {
        font-size: 12px;
    }

    .UsySEiRL {
            display: none;
        }
    
    .sdkj67ao,
    .mkeaUURw {
        font-size: 14px;
    }

    .E4pK9u1J,
    .aD08gVu5 {
        font-size: 10px;
        text-align: center;
    }

    .REDIWoJ0 {
        margin-bottom: 0;
        padding-bottom: 40px;
    }
}
.rflsT_ol {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    -moz-column-gap: 20px;
         column-gap: 20px;
}

.z6K35DkI {
    display: flex;
    overflow: hidden;
    gap: 20px;
}

@media screen and (max-width: 821px) {
    .rflsT_ol {
        display: flex;
        overflow: scroll;
    }
    &::-webkit-scrollbar {
        width: 0;
        height: 4px;
        background: black;
    }

    &::-webkit-scrollbar-track {
        background: var(--gray-white);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--dark);
    }
}
:root {
	--black: #2b2929;
	--dark: #464646;
	--white: #fff;
	--gray-very-very-white: #f8f8f8;
	--gray-white-white: #efefef;
	--gray-white: #e1e1e1;
	--gray: #bababa;
	--gray-dark: #716969;
	--yellow-dark: #f1bf5d;
	--yellow: #fff0ba;
	--red: #ff4f4f;
}

._tQAv26v {
    max-width: 1280px;
    margin: auto;
}

.UfpEjqY2 {
	margin-bottom: 32px;
}

.wDynEYi4 {
	border-radius: 12px;
	padding-top: 48px;
	padding-bottom: 48px;
	margin-bottom: 140px;
	background: linear-gradient(244deg, #efefef 0%, #cb9a63 29.17%, #d76598 42.71%, #46527f 56.77%, #1e9190 70.83%, #4a5976 86.46%, #5f3f6b 100%);
}
.qoxqklBQ {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.aPr6IDpL {
    margin-left: 48px;
    width: 100%;
}

.ooLPW3SQ {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 603px;
    li {
        list-style: none;
        a {
            font-size: 14px;
            line-height: 140%;
            letter-spacing: 0.01em;
            color: var(--gray-dark);
            text-decoration: none;
        }
    }
}

@media screen and (max-width: 391px) {
    .ooLPW3SQ {
        display: none;
    }
}
.fUQTY2zi {
    margin-bottom: 32px;
}

.dUg94zFs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 0.01em;
        color: var(--black);
    }
}

@media screen and (max-width: 391px) {
    .dUg94zFs {
        display: none;
    }
}
:root {
	--black: #2b2929;
	--dark: #464646;
	--white: #fff;
	--gray-very-very-white: #f8f8f8;
	--gray-white-white: #efefef;
	--gray-white: #e1e1e1;
	--gray: #bababa;
	--gray-dark: #716969;
	--yellow-dark: #f1bf5d;
	--yellow: #fff0ba;
	--red: #ff4f4f;
}

._tQAv26v {
    max-width: 1280px;
    margin: auto;
}

.UfpEjqY2 {
	margin-bottom: 32px;
}

.wDynEYi4 {
	border-radius: 12px;
	padding-top: 48px;
	padding-bottom: 48px;
	margin-bottom: 140px;
	background: linear-gradient(244deg, #efefef 0%, #cb9a63 29.17%, #d76598 42.71%, #46527f 56.77%, #1e9190 70.83%, #4a5976 86.46%, #5f3f6b 100%);
}
.KmMX1yCH {
    background: radial-gradient(243.03% 191.83% at 102.27% -3.07%, rgb(110, 47, 158) 0%, rgb(142, 154, 225) 24.47916716337204%, rgb(221, 97, 175) 56.77083134651184%, rgb(238, 242, 168) 74.47916865348816%);
    border-radius: 12px;
    margin-bottom: 32px;
}

.HS59wvnW {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    -moz-column-gap: 42px;
         column-gap: 42px;
    padding-top: 42px;
    padding-left: 48px;
}

.Xa1V5unZ {
    color: var(--white);
    font-size: 36px;
    line-height: 110%;
    letter-spacing: 0.01em;
    margin-bottom: 24px;
}

.WXMFRW9E {
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: var(--white);
    margin-bottom: 24px;
}

.vVsvMkyb {
    padding: 14px 64px;
    background: var(--white);
    border-radius: 12px;
    text-decoration: none;
    color: var(--black);
    font-size: 18px;
    line-height: 110%;
    letter-spacing: 0.01em;
}

.XNsxoKFI {
    display: flex;
    position: relative;
    background-image: url(assets/ed87b40da09b1e432d0c.png);
    background-position: center;
    background-repeat: no-repeat;
}

.tfI02Lcq {
    position: absolute;
    top: 0;
    right: 10%;
    max-width: 100%;
}

.SS4KX7xv {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
}

@media screen and (max-width: 821px) {
    .HS59wvnW {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        padding: 5px;
    }
    
    .XNsxoKFI {
        display: none;
    }

}
.QiavT_cb {
    border-radius: 100%;
    background: var(--white);
    stroke: black;
    width: 12px;
    height: 12px;
    margin-left: 12px;
}

.aCUtAZIV {
    /* transform: translateX(1280px); */
    overflow: hidden;
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 140px;
    margin-right: 32px;
    /* animation-name: line-infinite; */
    animation-duration: 5s;
    animation-iteration-count: infinite
}

@keyframes v_7qAATQ {
    from {
        transform: translateX(1280px);
    }
    to {
        transform: translateX(0);
    }
}

@media screen and (max-width: 821px) {
    .aCUtAZIV {
        overflow: scroll;
        flex-wrap: nowrap;

        a {
            padding-right: 50px;
        }

        &::-webkit-scrollbar {
            width: 0;
            height: 4px;
            background: black;
        }

        &::-webkit-scrollbar-track {
            background: var(--gray-white);
        }

        &::-webkit-scrollbar-thumb {
            background: var(--dark);
        }
    }
}
.J1apEfCd {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-auto-flow: row;
    align-items: center;
    padding-left: 126px;
    padding-top: 32px;
    padding-right: 49px;
    max-width: 100%;
    background: linear-gradient(225deg, #fff385 2.97%, #fff0ba 100%);
    border-radius: 12px;
    margin-bottom: 140px;
}

.UBqjmUKe {
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: var(--black);
    span {
        font-weight: 600;
    }
}

@media (max-width: 1050px) {
    .J1apEfCd {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        padding: 10px;
    }
}

@media (max-width: 361px) {
    .J1apEfCd {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0;
        text-align: center;
        max-width: 328px;
        max-height: 376px;
        overflow: hidden;
    }
    .UBqjmUKe {
        grid-row: 1;
    }
}
.RlEs1TNH {
    display: inline;
    box-sizing: border-box;
    padding: 8px 20px;
    border-radius: 12px;
    background-color: white;
    position: absolute;
    bottom: 24px;
}


.ECOWij9G {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
    gap: 20px;
    height: 562px;
    margin-bottom: 140px;
}

.VKMpw9kw {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 60% 40%;
    gap: 20px;
}

.XCyNrs0v {
    background: var(--gray-white-white);
    background-image: url(assets/9830039befa1f23d241c.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 60%;
    border-radius: 12px;
    position: relative;
    padding-left: 24px;
    padding-top: 24px;
}

.TotEgZzu {
    background: var(--yellow);
    background-image: url(assets/1a1317a40152df408a80.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    border-radius: 12px;
    position: relative;
    padding-left: 24px;
    padding-top: 24px;
    span {
        font-weight: 600;
        background: transparent;
    }
}

.befCcKkB {
    display: grid;
    grid-template-rows: 40% 60%;
    row-gap: 20px;
}

.AfqSuLLr {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 20px;
         column-gap: 20px;
}

.okYU_gXF {
    display: block;
    height: 100%;
    width: 100%;
    background: var(--gray-white-white);
    background-image: url(assets/fb2163bf1e225eb87efa.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    border-radius: 12px;
    position: relative;
    padding-left: 24px;
    padding-top: 24px;
}

.nCNa06nP {
    background: var(--gray-white-white);
    background-image: url(assets/1db5a96156b1d69e8461.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    border-radius: 12px;
    position: relative;
    padding-left: 24px;
    padding-top: 24px;
}

.bQl6uB5R {
    background: var(--gray-white-white);
    background-image: url(assets/f6bd71ad68eb2b9bf0e2.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    border-radius: 12px;
    position: relative;
    padding-left: 24px;
    padding-top: 24px;
} 

@media screen and (max-width: 390px) {
    .ECOWij9G {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 50%);
    }

    .VKMpw9kw {
        grid-template-rows: repeat(2, 50%);
    }

    .befCcKkB {
        margin-top: 20px;
        grid-template-rows: repeat(2, 50%);
    }
}
.wA1neuTO {
    display: grid;
    grid-template-columns: 30%;
    align-items: center;
    justify-content: center;
    
    input {
        height: 50px;
        border-radius: 12px;
        background: transparent;
        border-color: white;
        margin-bottom: 16px;
    }

    input[placeholder] {
        font-size: 16px;
        color: white;
        padding-left: 24px;
    }
}

.TfUys9Fe {
    padding: 14px 28px;
    background: white;
    border-radius: 12px;
}

.MB5iEaVY {
    display: flex;
    align-items: center;
    text-align: center;
}

.GW1js0ID {
    display: grid;
    justify-content: center;
    color: white;
    margin-bottom: 32px;
    text-align: center;
}
.XhORbUB9 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    justify-items: center;
    border-top: 1px solid var(--gray-white);
    padding-top: 32px;
}

.F_ZL4OHN {
    
    ul li {
        list-style: none;
        padding-bottom: 16px;
    }

    a {
        text-decoration: none;
        color: var(--dark);
        font-size: 16px;
        line-height: 140%;
    }
}

.IfYe74UP {
    display: grid;
    row-gap: 12px;

    div {
        display: grid;
        row-gap: 16px;

        a {
            text-decoration: none;
            color: var(--dark);
        }
    }

}

@media screen and (max-width: 391px) {
    .XhORbUB9 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: start;
        padding-left: 5px;
    }

    .IfYe74UP {
        margin-bottom: 24px;
    }
}
