:root {
	--black: #2b2929;
	--dark: #464646;
	--white: #fff;
	--gray-very-very-white: #f8f8f8;
	--gray-white-white: #efefef;
	--gray-white: #e1e1e1;
	--gray: #bababa;
	--gray-dark: #716969;
	--yellow-dark: #f1bf5d;
	--yellow: #fff0ba;
	--red: #ff4f4f;
}

._tQAv26v {
    max-width: 1280px;
    margin: auto;
}

.UfpEjqY2 {
	margin-bottom: 32px;
}

.wDynEYi4 {
	border-radius: 12px;
	padding-top: 48px;
	padding-bottom: 48px;
	margin-bottom: 140px;
	background: linear-gradient(244deg, #efefef 0%, #cb9a63 29.17%, #d76598 42.71%, #46527f 56.77%, #1e9190 70.83%, #4a5976 86.46%, #5f3f6b 100%);
}
.qoxqklBQ {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.aPr6IDpL {
    margin-left: 48px;
    width: 100%;
}

._Xr5LRYD {
    display: block;
}

.ooLPW3SQ {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 603px;
    li {
        list-style: none;
        a {
            font-size: 14px;
            line-height: 140%;
            letter-spacing: 0.01em;
            color: var(--gray-dark);
            text-decoration: none;
        }
    }
}

@media screen and (max-width: 391px) {
    .qoxqklBQ {
        display: grid;
    }

    .aPr6IDpL {
        margin: 0;
    }
    
    .ooLPW3SQ {
        display: none;
    }

    .kfEACFRG {
        display: block;
    }

    .UczkJqwc {
        display: none;
    }

    ._Xr5LRYD {
        display: none;
    }
}
.fUQTY2zi {
    margin-bottom: 32px;
}

.dUg94zFs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 0.01em;
        color: var(--black);
    }
}

.lP4rauBK {
    display: none;
}

@media screen and (max-width: 391px) {
    .dUg94zFs {
        display: grid;
        row-gap: 16px;
        margin: 16px;
        grid-template-columns: 100%;
        li {
            width: 100%;
        }
        a {
            display: block;
            border-bottom: 1px solid var(--gray-white);
            padding-bottom: 10px;
            width: 100%;
        }
        
    }

    .lP4rauBK {
        display: grid;
        align-items: center;
        justify-content: space-between;
        row-gap: 16px;
        margin: 16px;
        grid-template-columns: 100%;
        li {
            list-style: none;
            width: 100%;
        }
        a {
            text-decoration: none;
            font-size: 16px;
            line-height: 140%;
            letter-spacing: 0.01em;
            color: var(--black);
        }
    }
}
.Wuo71oLe {
    width: 30px;
    height: 30px;
    background: transparent;
    border-left: 0;
    border-right: 0;
    position: relative;
    display: none;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 45%;
        border: 1px solid black;
        width: 100%;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 391px) {
    .Wuo71oLe {
        display: block;
    }
}
:root {
	--black: #2b2929;
	--dark: #464646;
	--white: #fff;
	--gray-very-very-white: #f8f8f8;
	--gray-white-white: #efefef;
	--gray-white: #e1e1e1;
	--gray: #bababa;
	--gray-dark: #716969;
	--yellow-dark: #f1bf5d;
	--yellow: #fff0ba;
	--red: #ff4f4f;
}

.qZjk9bzC {
    max-width: 1280px;
    margin: auto;
}

.xWdu0csu {
	margin-bottom: 32px;
}

.gH9VlkVb {
	border-radius: 12px;
	padding-top: 48px;
	padding-bottom: 48px;
	margin-bottom: 140px;
	background: linear-gradient(244deg, #efefef 0%, #cb9a63 29.17%, #d76598 42.71%, #46527f 56.77%, #1e9190 70.83%, #4a5976 86.46%, #5f3f6b 100%);
}
:root {
	--black: #2b2929;
	--dark: #464646;
	--white: #fff;
	--gray-very-very-white: #f8f8f8;
	--gray-white-white: #efefef;
	--gray-white: #e1e1e1;
	--gray: #bababa;
	--gray-dark: #716969;
	--yellow-dark: #f1bf5d;
	--yellow: #fff0ba;
	--red: #ff4f4f;
}

.qZjk9bzC {
    max-width: 1280px;
    margin: auto;
}

.xWdu0csu {
	margin-bottom: 32px;
}

.gH9VlkVb {
	border-radius: 12px;
	padding-top: 48px;
	padding-bottom: 48px;
	margin-bottom: 140px;
	background: linear-gradient(244deg, #efefef 0%, #cb9a63 29.17%, #d76598 42.71%, #46527f 56.77%, #1e9190 70.83%, #4a5976 86.46%, #5f3f6b 100%);
}



h1 {
    margin-bottom: 32px;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.01em;
}

.tcvq9Bld {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    div {
        padding: 24px;
        border: 1px solid var(--gray);
        border-radius: 12px;
        max-width: 290px;
        height: 211px;

        :nth-child(1) {
            margin-bottom: 16px;
        }

        :nth-child(2) {
            font-size: 18px;
            line-height: 140%;
            letter-spacing: 0.01em;
            text-transform: uppercase;
            margin-bottom: 8px;
        }

        :nth-child(3) {
            font-size: 16px;
            line-height: 140%;
            letter-spacing: 0.01em;
            color: var(--gray-dark);
        }
    }

}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
}


#app {
    height: 100%;
}
