@import url(../../../../pages/mainPage/template/index.module.css);

.formBlock {
    display: grid;
    grid-template-columns: 30%;
    align-items: center;
    justify-content: center;
    width: 100%;
    input {
        height: 50px;
        border-radius: 12px;
        background: transparent;
        border-color: white;
        margin-bottom: 16px;
    }

    input[placeholder] {
        font-size: 16px;
        color: white;
        padding-left: 24px;
    }
}

.btnSub {
    padding: 14px 28px;
    background: white;
    border-radius: 12px;
}

.polityAccept {
    display: flex;
    align-items: center;
    /* text-align: center; */
    line-height: 120%;
    color: var(--gray-white-white);
    position: relative;
}

.titleForm {
    display: grid;
    justify-content: center;
    color: white;
    margin-bottom: 32px;
    text-align: center;
}

.formSection {
	border-radius: 12px;
	padding-top: 48px;
	padding-bottom: 48px;
	margin-bottom: 140px;
	background: linear-gradient(244deg, #efefef 0%, #cb9a63 29.17%, #d76598 42.71%, #46527f 56.77%, #1e9190 70.83%, #4a5976 86.46%, #5f3f6b 100%);
}