@import url(../mainPage/template/index.module.css);

.mainContent {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.mainMenu {
    margin-left: 48px;
    width: 100%;
}

.clother {
    display: block;
}

.mainMenuList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 603px;
    li {
        list-style: none;
        
    }
}

.nonActiveLink {
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: var(--gray-dark);
    text-decoration: none;
}

.activeLink {
    color: black;
    position: relative;
    transition: all 1s;
    &::after {
        content: '';
        position: absolute;
        top: -5px;
        left: 0;
        width: 100%;
        border-top: 1px solid black;
        transition: all 1s;
    }
    &::before {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        border-top: 1px solid black;
    }
}

@media screen and (max-width: 391px) {
    .mainContent {
        display: grid;
    }

    .mainMenu {
        margin: 0;
    }
    
    .mainMenuList {
        display: none;
    }

    .showMenuBlock {
        display: block;
    }

    .clotherListShow {
        display: none;
    }

    .clother {
        display: none;
    }
}